<%- include('partials/head') %> 
<body>
    <%- include('partials/navbar') %> 
    <h1>home page <%= 'hello world'.toUpperCase() %></h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nostrum inventore vel sed nobis asperiores, sunt architecto pariatur accusantium ea facilis. Impedit, dolores eum iusto fugit ipsam maxime consequuntur doloribus.</p>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eos nostrum inventore vel sed nobis asperiores, sunt architecto pariatur accusantium ea facilis. Impedit, dolores eum iusto fugit ipsam maxime consequuntur doloribus.</p>
</body>
</html>